* {
  box-sizing: border-box;
}

body {
  font-family: "Gentium Book Basic", serif;
  background: #0f2027;
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
}

.form {
  position: relative;
}

form {
  top: 5rem;
  position: absolute;
  width: 95vw;
  max-width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: flex-start;
}

.search_field {
  background: rosybrown;
  width: 60%;
  padding: 1.2em 2em;
  border-radius: 1em;
  border: 0.2em solid rosybrown;

  outline: none;
}

input[type="text"]:focus {
  background: #ece9e6;
  background: linear-gradient(to right, #ffffff, #ece9e6);
  border: 0.2em solid rosybrown;
}

.submit_btn {
  background: #d66d75;
  background: -webkit-linear-gradient(to right, #e29587, #d66d75);
  background: linear-gradient(to right, #e29587, #d66d75);

  color: white;
  padding: 1.2em 2em;
  margin-left: 0.4em;
  border-radius: 0.5em;
}

.books_results {
  top: 10rem;
  position: relative;
  width: 95vw;
  display: flex;
  justify-content: center;
}

.spinner {
  border: 12px solid #666464;
  border-top: 12px solid rosybrown;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
}

p {
  color: thistle;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.card {
  background: #ece9e6;
  background: -webkit-linear-gradient(to right, #ffffff, #ece9e6);
  background: linear-gradient(to right, #ffffff, #ece9e6);
  border-radius: 1rem;
  box-shadow: 2px 2px 8px 0 rgb(0, 0, 0);
  overflow: hidden;
  max-width: 60rem;
}

.card:nth-child(even) {
  background: #ece9e6; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #cf9898,
    #ece9e6
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #cf9898, #ece9e6);
}

.card:nth-child(even) .book_img {
  /* clip-path: polygon(0 0, 100% 0%, 100% 100%, 6% 100%); */
}

.card:last-child {
  margin-bottom: 1rem;
}

.book_info {
  float: left;
  padding: 1em;
  height: 100%;
  overflow: hidden;
  width: 80%;
  text-overflow: ellipsis ellipsis;
}

.book_img {
  overflow: hidden;
  float: right;
  /* width: 20%; */
  width: 20%;
  height: 16rem;
  object-fit: cover;
  /* clip-path: polygon(6% 0, 100% 0%, 100% 100%, 0% 100%); */
}

.book_img img {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  object-fit: cover;
}

.book_desc {
  margin-left: 0.5em;
  margin-right: 0.5em;
}
.book_desc p {
  color: rgb(0, 0, 0);
  left: 0;
}

/*media queries*/

/*mobile devies*/
@media screen and (max-width: 480px) {
  form {
    top: 1rem;
  }
  .books_results {
    top: 6rem;
  }
  .search_field {
    padding: 0.5em;
    width: 70%;
  }
  .submit_btn {
    padding: 0.4em;
    height: 3em;
    margin: 0.5em;
  }

  h1 {
    font-size: 100%;
  }
  h2 {
    font-size: 100%;
  }

  .img_book_container {
    width: 100%;
  }
  .book_info {
    width: 70%;
    height: 6rem;
  }
  .book_img {
    width: 30%;
    height: 6rem;
  }
}

/*iPads, Tablets*/
@media screen and (min-width: 481px) and (max-width: 768px) {
  .book_info {
    width: 70%;
  }
  .book_img {
    width: 30%;
  }
}
